$seb-white: #ffffff;

$seb-grey-1: #f6f6f6;
$seb-grey-2: #e6e6e6;
$seb-grey-3: #b3b3b3;
$seb-grey-4: #999999;
$seb-grey-5: #808080;
$seb-grey-6: #666666;
$seb-grey-7: #4d4d4d;
$seb-grey-8: #333333;
$seb-grey-9: #1a1a1a;

$seb-green: #60cd18;
$seb-green-dark: #45b400;
$seb-green-darker: #379d00;

$seb-yellow: #ffc500;
$seb-yellow-dark: #ffb400;
$seb-yellow-darker: #f8a000;

$seb-purple: #673ab6;
$seb-purple-dark: #4f2c99;
$seb-purple-darker: #3f2587;

$seb-red: #f03529;
$seb-red-dark: #d81a1a;
$seb-red-darker: #bb000c;

$seb-blue: #41b0ee;
$seb-blue-dark: #0092e1;
$seb-blue-darker: #007ac7;

$seb-highlight: #ceedff;

.bg-seb-white {
    background-color: $seb-white;
}

.bg-seb-grey-1 {
    background-color: $seb-grey-1;
}

.bg-seb-grey-2 {
    background-color: $seb-grey-2;
}

.bg-seb-grey-3 {
    background-color: $seb-grey-3;
}

.bg-seb-grey-4 {
    background-color: $seb-grey-4;
}

.bg-seb-grey-5 {
    background-color: $seb-grey-5;
}

.bg-seb-grey-6 {
    background-color: $seb-grey-6;
}

.bg-seb-grey-7 {
    background-color: $seb-grey-7;
}

.bg-seb-grey-8 {
    background-color: $seb-grey-8;
}

.bg-seb-grey-9 {
    background-color: $seb-grey-9;
}
