$larger-width: 1024px;
$larger-width-: 1023.98px;
$large-width: 960px;
$large-width-: 959.98px;
$medium-width: 576px;
$medium-width-: 575.98px;
$small-width: 420px;
$small-width-: 419.98px;
$smaller-width: 360px;
$smaller-width-: 359.98px;

$normal-height: 44px;
$normal-width: 550px;

$larger-spacing: 32px;
$large-spacing: 24px;
$medium-spacing: 16px;
$small-spacing: 8px;
$smaller-spacing: 4px;
$smallest-spacing: 2px;
$no-spacing: 0;

$round-borders: 4px;
